.topSection {
    display: flex;
    flex-direction: column;
}

.topSectionContent {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #F6F8FA;
    display: flex;
    height: 86px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;

}

#navList, .navButton {
    display: none;
}

.heroSection {
    display: flex;
    flex-direction: column;
    height: 594px;
    gap: 20px;
    margin-bottom: 60px;
}

#leftPart {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding-bottom: 140px;
    text-align: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 11px;
    text-align: center;
}

.leftPartHeading {
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
}

.leftPartParagraph {
    color: #677788;
    font-size: 20px;
    text-align: center;
}

#actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 60px;
}

.leftPartButton {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 48px;
    border-radius: 30px;
    padding: 15px 25px;
    gap: 8px;
    background-color: #2476FF;
    border: none;
    color: white;
}


.leftPartButton:hover  {
    color: #2476FF;
    background-color: white;
    border: 1px solid #2476FF;
    transition: 2s ease;
}

#play-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #2476FF;
}

#play-circle:hover {
    border: 1px solid #2476FF;
    background-color: #2476FF;
    color: white;
}

.actionLearnMore {
    color: #677788;
    font-size: 14px;
    text-decoration: none;
    width: 78px;
    height: 17px;
    font-weight: 700;
}

.actionLearnMore:hover {
    color: #2476FF;
}

#rightPart {
    display: flex;
}


.asana, .calendar, .weave, .paypal, .attlasian, .googleAds, .google{
    width: 48px;
    height: 48px;
}



.whyFrontSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 60px;
    height: 488px;
    margin-top: 60px;
}

.whyFrontTitle {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
    height: 137px;
    gap: 10px;
}

.whyFront {
    font-size: 26px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.whyFrontParagraph {
    color: #677788;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.bulletsAndBars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.mobileBullet {
    display: flex;
    flex-direction: row;
    padding-right: 34px;
    padding-left: 34px;
    gap: 17px;
    margin: 10px;
}

.bar {
    display: none;
}

.bulletTitles {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    padding-bottom: 60px;
}

.bulletTitles li {
    list-style: none;
}

.bulletCircle .fa-circle {
    display: flex;
    color: #0066FF;
    background-color: #ECF2FF;
    width: 26px;
    height: 26px;
    padding: 20px;
    gap: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.pricingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

.pricingtitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pricing {
    font-size: 26px; 
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0;
}

.pay {
    font-size: 16px;
    color: #677788;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
}

.plansFeatureList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.plan {
    display: flex;
    flex-direction: column;
    height: 397px;
    width: 328px;
    background-color: #ffffff;;
    margin: 30px auto;
    padding: 40px;
    gap: 50px;
    border: 1px solid #E2E2E2;

}

.planHeader {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.planPrice {
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.planPeriod {
    color: #677788;
    font-size: 20px;
    font-weight: 510;
    line-height: 100%;
}

.planDivider {
    margin: 30px;
    color: #8D8D8D;
}

.startFront {
    color: #8D8D8D;
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 0%;

}

.planFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noccreq {
    color: #677788;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.leftPartButton {
    margin: 0 auto;
}

.components, .money, .diamonds, .cancel {
    width: 50px;
    height: 50px;
}

.planFeatures {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.planFeatureItem {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    width: 328px;
    height: 219px;
    border: 1px solid #ffffff;
}

.plansFeatureTitle {
    font-weight: 700;
    color: #000000;
    font-size: 19px;
}

.plansFeatureDescription {
    font-size: 14px;
    font-weight: 500;
    color: #677788;
}

.sketch {
    width: 60px;
    height: 23px;
    border-radius: 15px;
    border: none;
    background-color: #01C9A7;
    color: white;
    padding: 4px 10px;
    gap: 10px;
    text-align: center;
}

.sketch:hover {
    color: #01C9A7;
    background-color: white;
    border: 1px solid #01C9A7;
}

.hireUsSection {
    background-color: #20335B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.hireUsLeftPart {
    display: flex;
    flex-direction: column;
    padding: 40px 16px 20px 16px;
    gap: 60px;
}

.hireUsTop {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hireUs {
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}

.goal {
    color: #677788;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.barWhite {
    width: 330px;
    margin: 0 auto;
}

.phrase {
    width: 330px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.hireUsBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 330px;
    margin-bottom: 0;
}

.person {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.personTitle {
    color: #677788;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.person-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.hireUsRightPart {
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 880px;
    padding: 30px 16px;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 5px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    color: #000000;
    text-align: justify;
    margin: 0 auto;
}

.caption {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}

.fullName {
    display: flex;
    flex-direction: column;
    gap: 20px
}

#firstName, #lastName, #email, select, textarea {
    width: 270px;
    height: 44px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E6E8F2;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select {
    width: 290px;
    height: 44px;
    padding: 10px;
}

#budget, #country, .option {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

textarea {
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    margin-bottom: 0;
}

.optional {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

#marketing {
    width: 25px;
    height: 28px;
}

.marketing {
    font-size: 14px;
    color: #828282; 
    line-height: 22px;
    text-align: justify;
}

.viewPrivacyPolicy {
    color: #677788;
    border-bottom: 1px dotted #677788;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.viewPrivacyPolicy:hover {
    color: #2576FF;
    border-bottom: 1px dotted #2576FF;
}

.second {
    display: none;

}

.submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 125px;
    height: 45px;
    color: white;
    background-color: #2476FF;
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 12px;
    border: none;
}

.submit:hover {
    color: #2476FF;
    background-color: white;
    border: 1px solid #2476FF;
    transition: 2s ease;
}

footer {
    display: flex;
    flex-direction: column;
    height: 1151.76px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 80px 16px 40px 16px;
    gap: 40px;
}

.col1, .col2, .col3, .col4, .col5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.footerLogo {
    width: 100px;
    height: 29.76px;
}

.address, .phone {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fa-location-arrow, .fa-phone, .fa-circle-info, .fa-circle-user {
    color: #677788;
    width: 11px;
    height: 14px;
    padding-top: 2px;
}

.fa-location-arrow:hover, .fa-phone:hover, .fa-circle-info:hover,  .fa-circle-user:hover {
    color: #2476FF;
}

.address-location, .number {
    text-decoration: none;
    color: #677788;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 510;
}

.address-location:hover, .number:hover {
    color: #2476FF;
    text-decoration: none;
}

.footera {
    color: #677788;
    text-decoration: none;
    font-size: 18px;
    font-weight: 510;
}

.footera:hover {
    color: #2476FF;
    text-decoration: none;
}

.heading {
    font-size: 20px;
    font-weight: 860;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.hiring {
    color: #ffffff;
    background-color: #2476FF;
    border-radius: 3px;
    border: none;
    padding: 2px 4px;
}

.hiring:hover {
    color: #2476FF;
    background-color: #ffffff;
    border: 1px solid #2476FF;
    transition: 2s ease;
}

.career {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.help, .account {
    display: flex;
    flex-direction: row;
    gap: 9px;
}



