@media (max-width: 63.9375rem) {
    body {
        width: 100vw;
        padding-right: 1.875rem;
        padding-left: 1.875rem;
        margin-left: 0.625rem;
    }

    #topSection {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 46.875rem;
    }

    .topSectionContent {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header {
        width: 100vw;
        padding-right: 1.875rem;
        padding-left: 1.875rem;
        margin-left: 0.625rem;
    }

    .heroSection {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 41.5rem;
    }

    .navButton, #navList {
        display: none;
    }

    .fa-bars {
        display: flex;
    }

    .heroSection {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 26.5rem;
        gap: 0;
    }

    #leftPart {
        display: flex;
        flex-direction: column;
        height: 50%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
    }

    .leftPartHeading {
      margin: 0 auto;
      font-size: 2.75rem;
      text-align: center;
    }

    #title {
        display: flex;
        flex-direction: column;
        width: 100vw;
        text-align: center;
        margin: 0 auto;
    }

    .leftPartHeading {
        font-weight: 500;
    }

    #actions {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    #rightPart {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50%;
        margin: 0 auto;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .asana-logo {
        left: unset;
        right: -9.5rem;
        top: 19.75rem;
    }

    .weave-logo {
        left: 1.375rem;;
        top: 16.75rem;
    }

    .paypal-logo {
        top: 10.75rem;
        left: -14.25rem;
    }

    .attlasian-logo {
        top: -1.375rem;
        left: -3.0625rem;
    }

    .calendar-logo {
        top: 28.375rem;
        left: 8.75rem;
    }

    .googleAds-logo {
        display: flex;
        width: 3.75rem;
        height: 3.75rem;
        top: 7.125rem;
        left: -7.3125rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .google-logo {
        display: flex;
        width: 3.75rem;
        height: 3.75rem;
        left: -14rem;
        top: -10.375rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .pricingGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .pricingTitleGroup {
        display: flex;
        flex-direction: column;
        margin: 3rem auto;

    }

    .pricingTitle, .pricingDescription {
        text-align: center;
        margin: 0 auto;
    }

    .leftWing .bar {
        width: 7.3125rem;
    }

    .bulletTitles {
        gap: 4.4375rem;
    }

    .plan {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: none;
    }

    .planHeader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .planBar {
        display: flex;
        color: #8D8D8D;
        width: 37.5rem;
    }

    .featureList {
        display: flex;
        width: 100vw;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 1.875rem;
    }

    .itemOne, .itemTwo, .itemThree, .itemFour {
        width: 21rem;
        height: 12.271rem;
    }

    .itemOneDescription, .itemTwoDescription, .itemThreeDescription, .itemFourDescription {
        width: 90%;
    }

    .hireUsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 61.5rem;
        width: 100vw;
    }

    .hireUsLeftPart {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100vw;
        gap: 6rem;
    }

    .hireUs {
        font-size: 1.625rem;
        font-weight: 700;
    }

    .hireUsRightPart {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    form {
        height: 39rem;
        margin: 1.25rem auto;
    }

    .footer {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 0;
    }

    .col1 {
        margin-left: 2.25rem;
    }

    .columns {
        display: flex;
        flex-direction: column;
        gap: 2.75rem;
    }


    .footergroupone {
        width: 60%;
        margin-right: 1rem;
        gap: 7.75rem;
    }

    .footergrouptwo {
        display: flex;
        flex-direction: row;
        width: 75%;
        gap: 7.75rem;
    }

    .footergroupthree {
        display: flex;
        flex-direction: row;
        width: 75%;
        gap: 5.75rem;
    }

    .col1, .col2, .col3, .col4, .col5 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 2.75rem;
    }

}